.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1024px;
  height: 55px;
  overflow: hidden;
  z-index: 100;
  border-bottom: 1px solid rgba(30,35,42,.06);
  box-shadow: 0 1px 3px rgba(0, 34, 77, .5);
}

.header-wrapper {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: block;
  height: 30px;
}
.header-nav {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}
a {
  text-decoration: none;
}
.header-nav-link {
  color: #8590a6;
  padding-right: 30px;
  font-size: 20px;
  line-height: 20px;
}
.header-nav-link:hover {
  color: #49659c;
}
.is-active {
  color: #333333;
}

.header-searchbar {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 265px;
  height: 30px;
  border-radius: 2px;
  border: .5px solid #E7EAF1;
  background-color: #f7f8fa;
}
.searchbar-input {
  background-color: #f7f8fa;
  border: 0px;
  margin-left: 0;
  width: 220px;
  height: 25px;
  outline: none;
}
.searchbar-input-icon {
  background-image: url(./search.png);
  width: 30px;
  height: 30px;
}
.searchbar-input-icon:hover {
  cursor: pointer;
}
.searchbar-btn {
  outline: none;
  background-color: #0F88EB;
  border-radius: 5px;
  border: 0px;
  font-size: 15px;
  line-height: inherit;
  width: 55px;
  height: 30px;
  color: #FFFFFF;
}
.searchbar-btn:hover {
  background-color: #0c80df;
  cursor: pointer;
}

.header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 300px;
}

.header-info img {
  padding-right: 20px;
}
.header-info img:hover {
  cursor: pointer;
}

.header-info button:hover {
  cursor: pointer;
}
